In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import datetime as dt
import os
import pycountry
import statsmodels.api as sm
import matplotlib.pyplot as plt
import sys

## Short-term business statistics

In [40]:
# Production in Construction
Produ = glob.glob('Production in Construction/*.csv')
print(Produ)

# Building Permits
Building = glob.glob('Building Permit/*.csv')
print(Building)

# Construciton Producer
Cons_Prod = glob.glob('Construction Producer/*.csv')
print(Cons_Prod)

# Labor
Labor= glob.glob('Labor/*.csv')
print(Labor)

# STS
STS = glob.glob('Structural/*.csv')
print(STS)

# GFCF
GFCF = glob.glob('GFCF/*.csv')
print(GFCF)

# GFCF ML Data - added later in project
GFCF_ML = glob.glob('GFCF-ML/*.csv')
print(GFCF_ML)

# GFCF Millions Data - added later in project
GFCF_M = glob.glob('GFCF Millions/*.csv')
print(GFCF_M)

# GVA Data and wages - added later in project
GVA = glob.glob('GVA-ML/*.csv')
print(GVA)

['Production in Construction\\civil_a.csv', 'Production in Construction\\cons_a.csv']
['Building Permit\\Building Permit Annual.csv']
['Construction Producer\\GVA.csv']
['Labor\\LaborInput Annual Employment.csv', 'Labor\\Volume of Hours.csv', 'Labor\\Wages and Salaries.csv']
['Structural\\Annual Detailed Enterprise Production Value in Euros.csv', 'Structural\\Construction by employment size class.csv', 'Structural\\Multiyear enterprise.csv', 'Structural\\Turnover statistics.csv']
['GFCF\\GFCF Construction.csv', 'GFCF\\GFCF Dwelling.csv']
['GFCF-ML\\Percent GDP.csv']
['GFCF Millions\\GFCF_million.csv']
['GVA-ML\\GVA.csv', 'GVA-ML\\GVAw_s.csv']

# Production in Construction

Will be attempting to use same functions for similar eurostat datasets, as it is more effiecient

In [41]:
# Production in Construction Extraction and Information

# Function to print stats for each file
def data_summary(file):

    df = pd.read_csv(file)
    print(f'The columns in each data {file}: \n {df.columns}\n')
    print(f'The shape of {file} is\n {df.shape}\n')
    print(f'The Info of the Data {file}:\n {df.info()}\n')
    print(f'The Summary of the Data {file}: \n {df.describe()}\n')
    print(f'Null Value sum present in {file}:\n {df.isnull().sum()}\n')
    print(f'Duplicated of {file} is\n {df.duplicated().sum()}\n')
    print(f'Unique Value Sum in {file}:\n{df.nunique()}\n')

# Function for getting full country name using pycountry
def get_country_name(country_code):
      if country_code == 'UK':
             return 'United Kingdom'
      elif country_code == 'EL':
            return 'Greece'

      try:
             country = pycountry.countries.get(alpha_2=country_code).name
             return country
      except AttributeError:
             return "Invalid country code"
      except LookupError:
             return "Invalid country code"

# Clean and transform a dataset
def clean_and_transform(file,drop,val=None):

    df = pd.read_csv(file)

    # Drop the columns that are not needed
    df.drop(drop, axis=1, inplace=True)

    # Convert Time Period to datetime format
    df['TIME_PERIOD'] = pd.to_datetime(df['TIME_PERIOD'], format='%Y')
    df['TIME_PERIOD'] = df['TIME_PERIOD'].dt.year

    # Rename the columns
    if val != None:
        df = df.rename(columns={'TIME_PERIOD':'Year', 'OBS_VALUE': val})

    else:
        df = df.rename(columns={'TIME_PERIOD':'Year'})

    cleaned_df = df

    # Convert the geo to Country Name
    cleaned_df['Country'] = cleaned_df.apply(lambda row: get_country_name(row.geo), axis=1)
    cleaned_df.drop('geo', axis=1, inplace=True)

    return cleaned_df

# Transformation
concatenated_df = pd.DataFrame()
joined_df = None

cols_drop = ['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_bt', 'nace_r2', 's_adj','OBS_FLAG']

# merging all the data files into a single df
for file in Produ:

    data_summary(file)

    cleaned_df = clean_and_transform(file,val='Production Value',drop=cols_drop)
    
    if joined_df is None:
        joined_df = cleaned_df  # Set the first cleaned DataFrame as joined_df
    else:
        joined_df = joined_df.merge(cleaned_df) # Merge the cleaned DataFrame with joined_df

joined_df.to_csv('Transformed Data/Production in Construction.csv', index=False)

The columns in each data Production in Construction\civil_a.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_bt', 'nace_r2', 's_adj',
       'unit', 'geo', 'TIME_PERIOD', 'OBS_VALUE 1', 'OBS_FLAG'],
      dtype='object')

The shape of Production in Construction\civil_a.csv is
 (318, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     318 non-null    object
 1   LAST UPDATE  318 non-null    object
 2   freq         318 non-null    object
 3   indic_bt     318 non-null    object
 4   nace_r2      318 non-null    object
 5   s_adj        318 non-null    object
 6   unit         318 non-null    object
 7   geo          318 non-null    object
 8   TIME_PERIOD  318 non-null    int64
 9   OBS_VALUE 1  292 non-null    float64
 10  OBS_FLAG     69 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 27.5+ KB
The Info of the Data Production in Construction\civil_a.csv:
 None

The Summary of the Data Production in Construction\civil_a.csv:
        TIME_PERIOD  OBS_VALUE 1
count   318.000000   292.000000
mean   2015.883648   104.650342
std       3.702968    22.135645
min    2010.000000    62.100000
25%    2013.000000    93.750000
50%    2016.000000   102.350000
75%    2019.000000   112.625000
max    2022.000000   245.800000

Null Value sum present in Production in Construction\civil_a.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
indic_bt         0
nace_r2          0
s_adj            0
unit             0
geo              0
TIME_PERIOD      0
OBS_VALUE 1     26
OBS_FLAG       249
dtype: int64

Duplicated of Production in Construction\civil_a.csv is
 0

Unique Value Sum in Production in Construction\civil_a.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
indic_bt         1
nace_r2          1
s_adj            1
unit             1
geo             25
TIME_PERIOD     13
OBS_VALUE 1    227
OBS_FLAG         3
dtype: int64

The columns in each data Production in Construction\cons_a.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_bt', 'nace_r2', 's_adj',
       'unit', 'geo', 'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of Production in Construction\cons_a.csv is
 (348, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     348 non-null    object
 1   LAST UPDATE  348 non-null    object
 2   freq         348 non-null    object
 3   indic_bt     348 non-null    object
 4   nace_r2      348 non-null    object
 5   s_adj        348 non-null    object
 6   unit         348 non-null    object
 7   geo          348 non-null    object
 8   TIME_PERIOD  348 non-null    int64
 9   OBS_VALUE    348 non-null    float64
 10  OBS_FLAG     50 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 30.0+ KB
The Info of the Data Production in Construction\cons_a.csv:
 None

The Summary of the Data Production in Construction\cons_a.csv:
        TIME_PERIOD   OBS_VALUE
count   348.000000  348.000000
mean   2015.956897  109.059195
std       3.733312   23.716630
min    2010.000000   63.400000
25%    2013.000000   96.650000
50%    2016.000000  103.150000
75%    2019.000000  118.225000
max    2022.000000  234.400000

Null Value sum present in Production in Construction\cons_a.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
indic_bt         0
nace_r2          0
s_adj            0
unit             0
geo              0
TIME_PERIOD      0
OBS_VALUE        0
OBS_FLAG       298
dtype: int64

Duplicated of Production in Construction\cons_a.csv is
 0

Unique Value Sum in Production in Construction\cons_a.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
indic_bt         1
nace_r2          1
s_adj            1
unit             1
geo             27
TIME_PERIOD     13
OBS_VALUE      267
OBS_FLAG         2
dtype: int64

For the Civil Engineering sector, the short-term business statistics (STS) are available for the following indicators:

The indicator is in 2015-100 indices, and the frequency of the Time Period is Annually.
The important columns for anlaysis are the following:

i. geo: Region indicator

ii. TIME_PERIOD: Time period

iii. OBS_VALUE: Observation value

iv. unit: Unit of measure

For the Construction sector, the short-term business statistics are available for the following indicators:
The indicator is in 2015-100 indices, and the frequency of the Time Period is Annually.
The important columns for anlaysis are the following:

i. geo: Region indicator   

ii. TIME_PERIOD: Time period

iii. OBS_VALUE: Observation value

iv. unit: Unit of measure

There are 25 unique countries in Civil Engineering and 27 in Construction.
minumun year period is 2010, although we have
that there are 10 missing values for OBS_VALUE in the Civil Engineering, none in Construction.

# Building Permit

In [42]:
# Building Permit Extraction and Information

concatenated_df = pd.DataFrame()
joined_df = None

cols_drop = ['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_bt', 'cpa2_1', 's_adj','OBS_FLAG']

# Transformation
for file in Building:

    data_summary(file)

    cleaned_df = clean_and_transform(file,val='Metered Squared Value',drop=cols_drop)

    if joined_df is None:
        joined_df = cleaned_df  # Set the first cleaned DataFrame as joined_df
    else:
        joined_df = joined_df.merge(cleaned_df) # Merge the cleaned DataFrame with joined_df


cleaned_df.to_csv('Transformed Data/Building Permit.csv', index=False)

The columns in each data Building Permit\Building Permit Annual.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_bt', 'cpa2_1', 's_adj',
       'unit', 'geo', 'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of Building Permit\Building Permit Annual.csv is
 (310, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     310 non-null    object
 1   LAST UPDATE  310 non-null    object
 2   freq         310 non-null    object
 3   indic_bt     310 non-null    object
 4   cpa2_1       310 non-null    object
 5   s_adj        310 non-null    object
 6   unit         310 non-null    object
 7   geo          310 non-null    object
 8   TIME_PERIOD  310 non-null    int64
 9   OBS_VALUE    310 non-null    float64
 10  OBS_FLAG     55 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 26.8+ KB
The Info of the Data Building Permit\Building Permit Annual.csv:
 None

The Summary of the Data Building Permit\Building Permit Annual.csv:
        TIME_PERIOD   OBS_VALUE
count   310.000000  310.000000
mean   2015.467742   13.999032
std       3.444980   19.671443
min    2010.000000    0.700000
25%    2012.250000    2.125000
50%    2015.000000    7.350000
75%    2018.000000   13.350000
max    2021.000000   90.200000

Null Value sum present in Building Permit\Building Permit Annual.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
indic_bt         0
cpa2_1           0
s_adj            0
unit             0
geo              0
TIME_PERIOD      0
OBS_VALUE        0
OBS_FLAG       255
dtype: int64

Duplicated of Building Permit\Building Permit Annual.csv is
 0

Unique Value Sum in Building Permit\Building Permit Annual.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
indic_bt         1
cpa2_1           1
s_adj            1
unit             1
geo             26
TIME_PERIOD     12
OBS_VALUE      165
OBS_FLAG         2
dtype: int64

## VALUE ADDED BY CONSTRUCTION in MILLION EURO

In [43]:
# Construction Producer Price Index Extraction and Information

concatenated_df = pd.DataFrame()
joined_df = None

cols_drop = ['DATAFLOW', 'LAST UPDATE', 'freq', 'nace_r2', 'na_item','OBS_FLAG']

# Transformation
for file in Cons_Prod:

    data_summary(file)

    cleaned_df = clean_and_transform(file,val='Construction Producer Price',drop=cols_drop)

    if joined_df is None:
        joined_df = cleaned_df  # Set the first cleaned DataFrame as joined_df
    else:
        joined_df = joined_df.merge(cleaned_df) # Merge the cleaned DataFrame with joined_df

cleaned_df.to_csv('Transformed Data/GVA.csv', index=False)

The columns in each data Construction Producer\GVA.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'unit', 'nace_r2', 'na_item', 'geo',
       'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of Construction Producer\GVA.csv is
 (366, 10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     366 non-null    object
 1   LAST UPDATE  366 non-null    object
 2   freq         366 non-null    object
 3   unit         366 non-null    object
 4   nace_r2      366 non-null    object
 5   na_item      366 non-null    object
 6   geo          366 non-null    object
 7   TIME_PERIOD  366 non-null    int64
 8   OBS_VALUE    366 non-null    float64
 9   OBS_FLAG     25 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 28.7+ KB
The Info of the Data Construction Producer\GVA.csv:
 None

The Summary of the Data Construction Producer\GVA.csv:
        TIME_PERIOD      OBS_VALUE
count   366.000000     366.000000
mean   2015.986339   25845.671858
std       3.719232   38508.379075
min    2010.000000     212.800000
25%    2013.000000    2126.525000
50%    2016.000000    9095.200000
75%    2019.000000   29097.000000
max    2022.000000  211102.000000

Null Value sum present in Construction Producer\GVA.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
unit             0
nace_r2          0
na_item          0
geo              0
TIME_PERIOD      0
OBS_VALUE        0
OBS_FLAG       341
dtype: int64

Duplicated of Construction Producer\GVA.csv is
 0

Unique Value Sum in Construction Producer\GVA.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
unit             1
nace_r2          1
na_item          1
geo             29
TIME_PERIOD     13
OBS_VALUE      366
OBS_FLAG         2
dtype: int64

## Labor

In [44]:
#Labor Index Extraction and Information

concatenated_df = pd.DataFrame()
joined_df = None

cols_drop = ['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_bt', 'nace_r2', 's_adj','OBS_FLAG']

# Transformation for multiple (3) data files

for file in Labor:

    data_summary(file)

    cleaned_df = clean_and_transform(file,val=None,drop=cols_drop)

    name = None

    if 'Employment' in file:
        name = "Labor_Employment.csv"
    elif 'Hours' in file:
        name = "Labor_Hours.csv"
    elif 'Wages' in file:
        name = "Labor_Wages.csv"
    else:
        print(f'Error with unexpected file :{file}')
        sys.exit(1)

    cleaned_df.to_csv(f'Transformed Data/{name}', index=False)

The columns in each data Labor\LaborInput Annual Employment.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_bt', 'nace_r2', 's_adj',
       'unit', 'geo', 'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of Labor\LaborInput Annual Employment.csv is
 (417, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417 entries, 0 to 416
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     417 non-null    object
 1   LAST UPDATE  417 non-null    object
 2   freq         417 non-null    object
 3   indic_bt     417 non-null    object
 4   nace_r2      417 non-null    object
 5   s_adj        417 non-null    object
 6   unit         417 non-null    object
 7   geo          417 non-null    object
 8   TIME_PERIOD  417 non-null    int64
 9   OBS_VALUE    416 non-null    float64
 10  OBS_FLAG     31 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 36.0+ KB
The Info of the Data Labor\LaborInput Annual Employment.csv:
 None

The Summary of the Data Labor\LaborInput Annual Employment.csv:
        TIME_PERIOD   OBS_VALUE
count   417.000000  416.000000
mean   2014.956835  110.989663
std       4.310437   21.036570
min    2008.000000   76.000000
25%    2011.000000  100.000000
50%    2015.000000  105.100000
75%    2019.000000  116.225000
max    2022.000000  229.100000

Null Value sum present in Labor\LaborInput Annual Employment.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
indic_bt         0
nace_r2          0
s_adj            0
unit             0
geo              0
TIME_PERIOD      0
OBS_VALUE        1
OBS_FLAG       386
dtype: int64

Duplicated of Labor\LaborInput Annual Employment.csv is
 0

Unique Value Sum in Labor\LaborInput Annual Employment.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
indic_bt         1
nace_r2          1
s_adj            1
unit             1
geo             28
TIME_PERIOD     15
OBS_VALUE      273
OBS_FLAG         4
dtype: int64

The columns in each data Labor\Volume of Hours.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_bt', 'nace_r2', 's_adj',
       'unit', 'geo', 'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of Labor\Volume of Hours.csv is
 (400, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     400 non-null    object
 1   LAST UPDATE  400 non-null    object
 2   freq         400 non-null    object
 3   indic_bt     400 non-null    object
 4   nace_r2      400 non-null    object
 5   s_adj        400 non-null    object
 6   unit         400 non-null    object
 7   geo          400 non-null    object
 8   TIME_PERIOD  400 non-null    int64
 9   OBS_VALUE    399 non-null    float64
 10  OBS_FLAG     45 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 34.5+ KB
The Info of the Data Labor\Volume of Hours.csv:
 None

The Summary of the Data Labor\Volume of Hours.csv:
        TIME_PERIOD   OBS_VALUE
count   400.000000  399.000000
mean   2014.987500  108.725564
std       4.296334   21.947402
min    2008.000000   54.000000
25%    2011.000000   98.200000
50%    2015.000000  102.800000
75%    2019.000000  112.550000
max    2022.000000  220.300000

Null Value sum present in Labor\Volume of Hours.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
indic_bt         0
nace_r2          0
s_adj            0
unit             0
geo              0
TIME_PERIOD      0
OBS_VALUE        1
OBS_FLAG       355
dtype: int64

Duplicated of Labor\Volume of Hours.csv is
 0

Unique Value Sum in Labor\Volume of Hours.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
indic_bt         1
nace_r2          1
s_adj            1
unit             1
geo             27
TIME_PERIOD     15
OBS_VALUE      264
OBS_FLAG         4
dtype: int64

The columns in each data Labor\Wages and Salaries.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_bt', 'nace_r2', 's_adj',
       'unit', 'geo', 'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of Labor\Wages and Salaries.csv is
 (387, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     387 non-null    object
 1   LAST UPDATE  387 non-null    object
 2   freq         387 non-null    object
 3   indic_bt     387 non-null    object
 4   nace_r2      387 non-null    object
 5   s_adj        387 non-null    object
 6   unit         387 non-null    object
 7   geo          387 non-null    object
 8   TIME_PERIOD  387 non-null    int64
 9   OBS_VALUE    386 non-null    float64
 10  OBS_FLAG     51 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 33.4+ KB
The Info of the Data Labor\Wages and Salaries.csv:
 None

The Summary of the Data Labor\Wages and Salaries.csv:
        TIME_PERIOD   OBS_VALUE
count   387.000000  386.000000
mean   2014.953488  115.678497
std       4.309636   35.336544
min    2008.000000   54.900000
25%    2011.000000   96.725000
50%    2015.000000  105.450000
75%    2019.000000  125.875000
max    2022.000000  332.700000

Null Value sum present in Labor\Wages and Salaries.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
indic_bt         0
nace_r2          0
s_adj            0
unit             0
geo              0
TIME_PERIOD      0
OBS_VALUE        1
OBS_FLAG       336
dtype: int64

Duplicated of Labor\Wages and Salaries.csv is
 0

Unique Value Sum in Labor\Wages and Salaries.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
indic_bt         1
nace_r2          1
s_adj            1
unit             1
geo             26
TIME_PERIOD     15
OBS_VALUE      304
OBS_FLAG         3
dtype: int64

## Structural Business Statistics

In [45]:
concatenated_df = pd.DataFrame()
joined_df = None

cols_drop = ['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_sb', 'nace_r2','OBS_FLAG']

# Transformation for multiple (4) data files

for file in STS:

    data_summary(file)

    cleaned_df = clean_and_transform(file,val=None,drop=cols_drop)

    name = None

    if 'Enterprise Production' in file:
        name = "STS_EnterpriseProduction.csv"
    elif 'Construction' in file:
        name = "STS_Employment.csv"
    elif 'Turnover' in file:
        name = "STS_Turnover.csv"
    elif 'Multi' in file:
        name = "STS_SubContracting.csv"
    else:
        print(f'Error with unexpected file :{file}')
        sys.exit(1)

    cleaned_df.to_csv(f'Transformed Data/{name}', index=False)

The columns in each data Structural\Annual Detailed Enterprise Production Value in Euros.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'nace_r2', 'indic_sb', 'geo',
       'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of Structural\Annual Detailed Enterprise Production Value in Euros.csv is
 (265, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     265 non-null    object
 1   LAST UPDATE  265 non-null    object
 2   freq         265 non-null    object
 3   nace_r2      265 non-null    object
 4   indic_sb     265 non-null    object
 5   geo          265 non-null    object
 6   TIME_PERIOD  265 non-null    int64
 7   OBS_VALUE    264 non-null    float64
 8   OBS_FLAG     26 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 18.8+ KB
The Info of the Data Structural\Annual Detailed Enterprise Production Value in Euros.csv:
 None

The Summary of the Data Structural\Annual Detailed Enterprise Production Value in Euros.csv:
        TIME_PERIOD      OBS_VALUE
count   265.000000     264.000000
mean   2015.498113   60902.359091
std       2.869807   87015.555011
min    2011.000000     756.500000
25%    2013.000000    5204.900000
50%    2016.000000   18750.300000
75%    2018.000000   73299.525000
max    2020.000000  360273.900000

Null Value sum present in Structural\Annual Detailed Enterprise Production Value in Euros.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
nace_r2          0
indic_sb         0
geo              0
TIME_PERIOD      0
OBS_VALUE        1
OBS_FLAG       239
dtype: int64

Duplicated of Structural\Annual Detailed Enterprise Production Value in Euros.csv is
 0

Unique Value Sum in Structural\Annual Detailed Enterprise Production Value in Euros.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
nace_r2          1
indic_sb         1
geo             27
TIME_PERIOD     10
OBS_VALUE      264
OBS_FLAG         2
dtype: int64

The columns in each data Structural\Construction by employment size class.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'nace_r2', 'indic_sb', 'size_emp',
       'geo', 'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of Structural\Construction by employment size class.csv is
 (274, 10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     274 non-null    object
 1   LAST UPDATE  274 non-null    object
 2   freq         274 non-null    object
 3   nace_r2      274 non-null    object
 4   indic_sb     274 non-null    object
 5   size_emp     274 non-null    object
 6   geo          274 non-null    object
 7   TIME_PERIOD  274 non-null    int64
 8   OBS_VALUE    274 non-null    int64
 9   OBS_FLAG     29 non-null     object
dtypes: int64(2), object(8)
memory usage: 21.5+ KB
The Info of the Data Structural\Construction by employment size class.csv:
 None

The Summary of the Data Structural\Construction by employment size class.csv:
        TIME_PERIOD      OBS_VALUE
count   274.000000     274.000000
mean   2015.514599  117200.419708
std       2.862183  150835.653451
min    2011.000000    3300.000000
25%    2013.000000   18964.750000
50%    2016.000000   50556.000000
75%    2018.000000  110519.750000
max    2020.000000  590555.000000

Null Value sum present in Structural\Construction by employment size class.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
nace_r2          0
indic_sb         0
size_emp         0
geo              0
TIME_PERIOD      0
OBS_VALUE        0
OBS_FLAG       245
dtype: int64

Duplicated of Structural\Construction by employment size class.csv is
 0

Unique Value Sum in Structural\Construction by employment size class.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
nace_r2          1
indic_sb         1
size_emp         1
geo             28
TIME_PERIOD     10
OBS_VALUE      273
OBS_FLAG         3
dtype: int64

The columns in each data Structural\Multiyear enterprise.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'nace_r2', 'indic_sb', 'size_emp',
       'geo', 'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of Structural\Multiyear enterprise.csv is
 (43, 10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     43 non-null     object
 1   LAST UPDATE  43 non-null     object
 2   freq         43 non-null     object
 3   nace_r2      43 non-null     object
 4   indic_sb     43 non-null     object
 5   size_emp     43 non-null     object
 6   geo          43 non-null     object
 7   TIME_PERIOD  43 non-null     int64
 8   OBS_VALUE    43 non-null     float64
 9   OBS_FLAG     1 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.5+ KB
The Info of the Data Structural\Multiyear enterprise.csv:
 None

The Summary of the Data Structural\Multiyear enterprise.csv:
        TIME_PERIOD     OBS_VALUE
count         43.0     43.000000
mean        2020.0  12651.641860
std            0.0  16684.726358
min         2020.0     73.500000
25%         2020.0   1676.100000
50%         2020.0   7876.800000
75%         2020.0  15076.100000
max         2020.0  88941.200000

Null Value sum present in Structural\Multiyear enterprise.csv:
 DATAFLOW        0
LAST UPDATE     0
freq            0
nace_r2         0
indic_sb        0
size_emp        0
geo             0
TIME_PERIOD     0
OBS_VALUE       0
OBS_FLAG       42
dtype: int64

Duplicated of Structural\Multiyear enterprise.csv is
 0

Unique Value Sum in Structural\Multiyear enterprise.csv:
DATAFLOW        1
LAST UPDATE     1
freq            1
nace_r2         1
indic_sb        2
size_emp        1
geo            23
TIME_PERIOD     1
OBS_VALUE      43
OBS_FLAG        1
dtype: int64

The columns in each data Structural\Turnover statistics.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'nace_r2', 'indic_sb', 'geo',
       'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of Structural\Turnover statistics.csv is
 (24, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     24 non-null     object
 1   LAST UPDATE  24 non-null     object
 2   freq         24 non-null     object
 3   nace_r2      24 non-null     object
 4   indic_sb     24 non-null     object
 5   geo          24 non-null     object
 6   TIME_PERIOD  24 non-null     int64
 7   OBS_VALUE    24 non-null     float64
 8   OBS_FLAG     0 non-null      float64
dtypes: float64(2), int64(1), object(6)
memory usage: 1.8+ KB
The Info of the Data Structural\Turnover statistics.csv:
 None

The Summary of the Data Structural\Turnover statistics.csv:
        TIME_PERIOD      OBS_VALUE  OBS_FLAG
count         24.0      24.000000       0.0
mean        2020.0   65176.695833       NaN
std            0.0   86438.060691       NaN
min         2020.0    4015.000000       NaN
25%         2020.0   10967.025000       NaN
50%         2020.0   35974.000000       NaN
75%         2020.0   79222.100000       NaN
max         2020.0  352049.400000       NaN

Null Value sum present in Structural\Turnover statistics.csv:
 DATAFLOW        0
LAST UPDATE     0
freq            0
nace_r2         0
indic_sb        0
geo             0
TIME_PERIOD     0
OBS_VALUE       0
OBS_FLAG       24
dtype: int64

Duplicated of Structural\Turnover statistics.csv is
 0

Unique Value Sum in Structural\Turnover statistics.csv:
DATAFLOW        1
LAST UPDATE     1
freq            1
nace_r2         1
indic_sb        1
geo            24
TIME_PERIOD     1
OBS_VALUE      24
OBS_FLAG        0
dtype: int64

## Gross Fixed Capital Formation Extraction and Information

In [46]:
concatenated_df = pd.DataFrame()
joined_df = None

cols_drop = ['DATAFLOW', 'LAST UPDATE', 'freq', 'asset10','OBS_FLAG']

# Transformation for multiple (4) data files

for file in GFCF:

    data_summary(file)



data_frames = [clean_and_transform(file,val=None,drop=cols_drop) for file in GFCF]
df1= data_frames[0]
df2 = data_frames[1]

df1 = df1.rename(columns={'OBS_VALUE':'Construction Value'})
df2 = df2.rename(columns={'OBS_VALUE':'Dwellings Value'})

joined = df1.merge(df2)

print(joined)

joined.to_csv('Transformed Data/GFCF.csv', index=False)

The columns in each data GFCF\GFCF Construction.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'unit', 'asset10', 'geo',
       'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of GFCF\GFCF Construction.csv is
 (220, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     220 non-null    object
 1   LAST UPDATE  220 non-null    object
 2   freq         220 non-null    object
 3   unit         220 non-null    object
 4   asset10      220 non-null    object
 5   geo          220 non-null    object
 6   TIME_PERIOD  220 non-null    int64
 7   OBS_VALUE    220 non-null    float64
 8   OBS_FLAG     30 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 15.6+ KB
The Info of the Data GFCF\GFCF Construction.csv:
 None

The Summary of the Data GFCF\GFCF Construction.csv:
        TIME_PERIOD      OBS_VALUE
count   220.000000     220.000000
mean   2018.450000   58786.014091
std       2.284002   90816.060640
min    2015.000000     928.400000
25%    2016.000000    5308.900000
50%    2018.000000   24388.250000
75%    2020.000000   58712.125000
max    2022.000000  474596.000000

Null Value sum present in GFCF\GFCF Construction.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
unit             0
asset10          0
geo              0
TIME_PERIOD      0
OBS_VALUE        0
OBS_FLAG       190
dtype: int64

Duplicated of GFCF\GFCF Construction.csv is
 0

Unique Value Sum in GFCF\GFCF Construction.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
unit             1
asset10          1
geo             28
TIME_PERIOD      8
OBS_VALUE      220
OBS_FLAG         1
dtype: int64

The columns in each data GFCF\GFCF Dwelling.csv:
 Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'unit', 'asset10', 'geo',
       'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

The shape of GFCF\GFCF Dwelling.csv is
 (220, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     220 non-null    object
 1   LAST UPDATE  220 non-null    object
 2   freq         220 non-null    object
 3   unit         220 non-null    object
 4   asset10      220 non-null    object
 5   geo          220 non-null    object
 6   TIME_PERIOD  220 non-null    int64
 7   OBS_VALUE    220 non-null    float64
 8   OBS_FLAG     30 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 15.6+ KB
The Info of the Data GFCF\GFCF Dwelling.csv:
 None

The Summary of the Data GFCF\GFCF Dwelling.csv:
        TIME_PERIOD      OBS_VALUE
count   220.000000     220.000000
mean   2018.450000   28481.587727
std       2.284002   51172.502192
min    2015.000000     291.300000
25%    2016.000000    1526.825000
50%    2018.000000    6849.850000
75%    2020.000000   24567.075000
max    2022.000000  292282.000000

Null Value sum present in GFCF\GFCF Dwelling.csv:
 DATAFLOW         0
LAST UPDATE      0
freq             0
unit             0
asset10          0
geo              0
TIME_PERIOD      0
OBS_VALUE        0
OBS_FLAG       190
dtype: int64

Duplicated of GFCF\GFCF Dwelling.csv is
 0

Unique Value Sum in GFCF\GFCF Dwelling.csv:
DATAFLOW         1
LAST UPDATE      1
freq             1
unit             1
asset10          1
geo             28
TIME_PERIOD      8
OBS_VALUE      220
OBS_FLAG         1
dtype: int64

        unit  Year  Construction Value         Country  Dwellings Value
0    CP_MEUR  2015             36418.8         Austria          14658.8
1    CP_MEUR  2016             37227.7         Austria          15249.6
2    CP_MEUR  2017             39064.2         Austria          16556.5
3    CP_MEUR  2018             42484.1         Austria          17376.3
4    CP_MEUR  2019             45310.9         Austria          18672.7
..       ...   ...                 ...             ...              ...
215  CP_MEUR  2015            255287.7  United Kingdom          90926.4
216  CP_MEUR  2016            238457.3  United Kingdom          85255.3
217  CP_MEUR  2017            236405.9  United Kingdom          89516.0
218  CP_MEUR  2018            245183.2  United Kingdom          96023.6
219  CP_MEUR  2019            263833.4  United Kingdom          99809.7

[220 rows x 5 columns]

## GFCF % GDP Data for ML

In [47]:
cols_drop = ['DATAFLOW', 'LAST UPDATE', 'freq', 'asset10','OBS_FLAG','unit']

data_frames = [clean_and_transform(file,val=None,drop=cols_drop) for file in GFCF_ML]
df= data_frames[0]

df = df.rename(columns={'OBS_VALUE':'Percent GDP'})

df.to_csv('Transformed Data/GFCF-ML.csv', index=False)

df.head()

   Year  Percent GDP  Country
0  1996          6.9  Albania
1  1997          6.4  Albania
2  1998          7.1  Albania
3  1999          7.3  Albania
4  2000         10.3  Albania

## GFCF Millions Data for ML

In [48]:
cols_drop = ['DATAFLOW', 'LAST UPDATE', 'freq', 'unit', 'asset10', 'OBS_FLAG']

data_frames = [clean_and_transform(file,val='Value',drop=cols_drop) for file in GFCF_M]
df= data_frames[0]

df.to_csv('Transformed Data/GFCF-M.csv', index=False)

df.head()

   Year    Value  Country
0  1995  25965.5  Austria
1  1996  26269.2  Austria
2  1997  25887.2  Austria
3  1998  26332.7  Austria
4  1999  26697.9  Austria

## GVA Data for ML

In [50]:
data_frames = []

for file in GVA:

    f = pd.read_csv(file)
    print(file)
    print(f.columns)

    if 'w_s' in file:
        cols_drop = ['DATAFLOW', 'LAST UPDATE','freq', 'nace_r2', 'unit', 'na_item', 'OBS_FLAG']
        val = 'Wages'
    else:
        cols_drop = ['DATAFLOW', 'LAST UPDATE','freq', 'nace_r2', 'unit', 'na_item', 'OBS_FLAG']
        val = 'GVA'

    df =  clean_and_transform(file,val=val,drop=cols_drop)

    data_frames.append(df)


gvas = data_frames[0].merge(data_frames[1])

gvas.to_csv('Transformed Data/GVA-ML.csv', index=False)

gvas.head()

GVA-ML\GVA.csv
Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'unit', 'nace_r2', 'na_item', 'geo',
       'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')
GVA-ML\GVAw_s.csv
Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'unit', 'nace_r2', 'na_item', 'geo',
       'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

   Year      GVA  Country   Wages
0  2000  14308.8  Austria  6878.6
1  2001  14000.3  Austria  6749.1
2  2002  14131.4  Austria  6588.6
3  2003  15085.1  Austria  6598.2
4  2004  15602.3  Austria  6695.5